langchain
python-dotenv
langchain_community
streamlit
langchain-groq
ipykernel
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
beautifulsoup4
torch
torchvision
pymysql
mysql-connector-python
SQLAlchemy